body {
    background-color: rgb(255, 255, 230);
    color: black;
	font-family: "Ubuntu Condensed", sans-serif;
	margin: 0;
	padding: 0;
	position: relative;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.33);
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

h1 {
	font-family: "Arvo", monospace;
	font-size: 6em;
	position: absolute;
	text-align: center;
	top: 340px;
	width: 100%;
}

h2 {
	color: rgb(252, 199, 50);
	font-family: "Arvo", monospace;
	font-weight: 400;
	font-size: 117px;
	line-height: 0.8;
	text-transform: uppercase;
	letter-spacing: -0.06em;
}

h2 span {
	display: block;
}

h2 em {
	color: rgb(245, 245, 245);
	display: block;
	font-style: normal;
}

h3 {
	font-family: "Arvo", monospace;
	font-size: 2em;
	text-align: center;
}

section {
	font-size: 1.4em;
	padding: 70px 0 0 0;
	position: relative;
}

aside {
    background-color: white;
	border: 4px solid black;
	border-radius: 300px;
	box-shadow: 6px 6px 6px rgba(0, 0, 0, .2);
	display: none;
	height: 300px;
	position: fixed;
	top: 160px;
	width: 300px;
}

nav {
	background-color: black;
	height: 60px;
	left: 0px;
	position: fixed;
	text-align: center;
	top: 0px;
	width: 100%;	
}

nav ul {
	margin-top: 12px;	
}

nav li {
	color: white;
	display: inline;
	font-family: "Arial Narrow", sans-serif;
	font-weight: 200;
	font-size: 42px;
	line-height: 0.8;
	padding-right: 1em;
	text-transform: uppercase;
	letter-spacing: -0.06em;
}

nav a {
	color: white;
	cursor: pointer;
	text-decoration: none;
}

#content {
	display: none;
	overflow: scroll;
	position: relative;
}

div.grid {
	margin: 0 auto;
	position: relative;
	width: 999px;
}

div.syd {
	float: left;
	margin: 0 399px 0 0;
	position: relative;
	width: 300px;
}

div.mel {
	float: left;
	position: relative;
	width: 300px;
}

#splash-syd {
	font-size: 2em;
}

#splash-mel {
	margin-top: 32px;
}

#about {
	background-color: rgb(65, 67, 63);
}

#about h1 {
	color: rgb(252, 199, 50);
}

#about h2 {
	color: whitesmoke;
	font-size: 6em;
	margin: 0.75em 0;
	text-align: center;
}

#about h3 {
	color: rgb(252, 199, 50);
}

#about h6 {
	color: whitesmoke;
	position: absolute;
	font-size: 2em;
	margin: 0;
}

#sponsors {
	background-color: whitesmoke;
}

#sponsors h1 {
	color: rgb(65, 67, 63);
}

#sponsors p {
	border-radius: 250px;
	box-shadow: 6px 6px 6px rgba(0, 0, 0, .2);
	display: block;
	height: 250px;
	left: 25px;
	position: absolute;
	top: 99px;
	width: 250px;
}

#sponsors a {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	border-radius: 225px;
	display: block;
	height: 225px;
	left: 12px;
	position: absolute;
	width: 225px;
	top: 12px;
}

#sponsors img {
	width: 100%;
}

#sponsors-lookahead {
	background-color: rgb(55, 55, 55);
}

#sponsors-lookahead img {
	margin-top: 85px;
}

#sponsors-webdirections {
	background-color: white;
}

#sponsors-webdirections img {
	margin-top: 85px;
}

#sponsors-bugherd {
	background-color: rgb(34, 34, 34);
}

#sponsors-bugherd img {
	margin-left: -15px;
	margin-top: -15px;
	width: 120%;
}

#sponsors-inspire9 {
	background-color: white;
}

#sponsors-inspire9 img {
	margin-top: 55px;
}

#rsvp {
	background-color: white;
}

#location a {
	border: 4px solid black;
	border-radius: 300px;
	box-shadow: 6px 6px 6px rgba(0, 0, 0, .2);
	display: block;
	height: 300px;
	position: absolute;
	width: 300px;
}

#location span {
	display: block;
	text-indent: -999em;
}

#location p {
	margin-top: 370px;
	text-align: center;
	width: 300px;
}

#location-syd a {
	background: url(../graphics/map_mojo.jpg) 50% 50%;
}

#location-mel a {
	background: url(../graphics/map_rainbow.jpg) 50% 50%;
}

#rsvp {
	background-color: black;
}

#rsvp h1 {
	color: rgb(65, 67, 63);
}

#rsvp div {
	color: whitesmoke;
}

#rsvp a {
	text-align: center;
	width: 240px;
}

#rsvp p {
	display: block;
	text-align: justify;
	width: 280px;
}

#foot {
	padding: 0;
}

#glass {
	height: 250px;
	left: 82px;
	overflow: hidden;
	position: absolute;
	top: 30px;
	width: 141px;
}

#glass span {
	background: transparent url(../graphics/glass.png) 0 0 no-repeat;
	display: block;
	height: 250px;
	left: -1px;
	position: absolute;
	top: 0;
	width: 141px;
}

#beer {
	background: transparent url(../graphics/beer.png) 0 0 no-repeat;
	height: 250px;
	left: 0;
	position: absolute;
	top: 0;
	width: 139px;
}

/*input {
	background: whitesmoke;
	border: whitesmoke;
	font-size: 2em;
	left: 120px;
	position: fixed;
	top: 120px;
	width: 120px;
}*/